.footer-text {
    margin-top: 15px;
}

.fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #fff;
  color: #000;
}

.fa:hover {
    color: #4A8CFF;     
    opacity: 0.7;
}

.profile-pic {
    width: 150px;
    height: 150px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.welcome {
    color: white !important;
}

.margin-bt-25 {
    margin-bottom: 25px;
}

body {
    display: none;
}

ul {
  list-style-type: none !important;
}

ul > li > h4:before {
  content: '-' !important; /* en dash */
  position: absolute !important;
  margin-left: -1.1em !important;
}

.divider {
    margin: 30px -150px 30px -150px !important;
    border-radius: 0;
}

.list-icons {
    font-size: 3rem; 
}

.list-icons .list-inline-item i:hover {
    cursor: default;
    color: #4A8CFF; 
}