body {
  background-color: white;
  color: black;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; /* Safari */
  font-family: 'Source Code Pro', monospace;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: rgb(35, 35, 35);
    color: white;
  }
}

h5 {
  line-height: 1.5em !important;
}

.footer-text {
  margin-bottom: 20px;
}

.fa {
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: #fff;
  color: #000;
}

.fa:hover {
  color: #4a8cff;
  opacity: 0.7;
}

a {
  color: rgb(14, 169, 3);
}

.name {
  margin-bottom: 15px;
}

.profile-pic {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 210px;
  height: 210px;
  box-shadow: rgba(14, 169, 3, 0.4) -5px 5px, rgba(14, 169, 3, 0.3) -10px 10px,
    rgba(14, 169, 3, 0.2) -15px 15px, rgba(14, 169, 3, 0.1) -20px 20px,
    rgba(14, 169, 3, 0.05) -25px 25px;
}

.welcome {
  color: white !important;
}

.margin-bt-25 {
  margin-bottom: 25px;
}

ul {
  list-style-type: none !important;
}

ul > li > h4:before {
  content: '-' !important; /* en dash */
  position: absolute !important;
  margin-left: -1.1em !important;
}

.divider {
  margin: 30px -150px 30px -150px !important;
  border-radius: 0;
}

.list-icons {
  font-size: 3rem;
}
