.w3-card {
    padding: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}

.footer-social {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-social li {
    display: inline;
}

.footer-social span {
    margin-top: -20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
}

.welcome {
    color: white !important;
}

body {
    display: none;
}

ul {
  list-style-type: none !important;
}

ul > li > h4:before {
  content: '-' !important; /* en dash */
  position: absolute !important;
  margin-left: -1.1em !important;
}
